.header {
    background-color: #141D2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;

    .logo {
        height: 80px;
        cursor: pointer;
    }


    a {
        color: white;
        text-decoration: none;
    }

    div {
        display: none;
    }

    @media (min-width: 800px) {
        label {
            display: none;
        }

        div {
            display: block;
        }

        div a {
            margin-left: 25px;
            font-size: 23px;

            &:hover {
                color: rgba(0, 190, 232, 1);
                text-decoration: underline;
                text-decoration-color: rgba(75, 71, 255, 1);
            }
        }
    }

    @media (min-width: 1150px) {
        padding-left: 10%;
        padding-right: 10%;
    }

    @media (min-width: 1400px) {
        padding-left: 10%;  //15%
        padding-right: 10%; //15%
    }
}

