.firstcontainer-mobile {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .profil {
        // object-fit: cover;
        width: 250px;
        // width: 80%;
        // position: absolute;
        // z-index: 2;
        // top: 90px;
        // left: 0px;
        // right: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 155px;
    }
}

.vector {
    position: absolute;
    width: 100%;
    top: 140px;
    z-index: -1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 315px) {
        top: 122px;
    }

    @media (min-width: 320px) {
        top: 120px;
    }
    @media (min-width: 340px) {
        top: 95px;
    }
    @media (min-width: 360px) {
        top: 75px;
    }
    @media (min-width: 375) {
        top: 58px;
    }
    @media (min-width: 380px) {
        top: 50px;
    }

}

.drop {
    width: 100%;
    // width: 500px;
    position: absolute;
    z-index: 1;
    /* left: 0px; */
    left: 0;
    right: 0;
    top: 145px;
    margin-left: auto;
    margin-right: auto;
}

.backdrop-image {
    position: absolute;
    top: 125px;
    z-index: -1;
    width: 100%;
    height: 376px;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
}

.firstcontainer-mobile-name {
    position: absolute;
    color: white;
    top: 500px;
    left: 0;
    right: 0;
    z-index: 2;
    // padding-left: 5%;
    // padding-right: 5%;
    font-family: 'poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .iam{
        transform: rotate(-90deg);
        width: 50px; // 72px
        height: 30px; // 33px
        font-size: 22px; //32px
        margin: 0;
        display: flex;
        align-items: center;
    }

    .name {
        font-size: 30px; //45px
        margin: 0;
        line-height: 120%;
    }

    .name-sec {
        margin: 0;
        font-size: 20px; //29px
        color: #4b47ff;
        line-height: 120%;
    }
}

.first-section-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 615px;

    button {
        width: 133px;
        height: 49px;
        background-color: #00bee8;
        color: white;
        border-radius: 10px;
        border: unset;
        padding: 15px 30px 15px 30px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.link-icons {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 700px;
    z-index: 2;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;

    .vectorstyle1 {
        width: 64px;
        height: 2px;
        background-color: blue;
    }
}

.second-drop {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 600px;
}