.header {
    background-color: #141D2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;


    h1 {
        color: white;
    }
}

