<div class="about-me-section" id="about-me-section">
    <h2 class="headline">About me</h2>
    <p class="about-me-description">
        I am a Front-end developer based in Hennigsdorf, Brandenburg, Germany. I enjoy helping designers and companies
        bring their ideas
        into real life. I am looking forward to continuing my developer career with a job in a junior web developer
        position. If you think I’d be a good match for your projects, contact me!
    </p>
    <div class="about-me-description-bottom-container">
        <div class="about-me-description-bottom-container-top">
            <img src="assets/icons/bulb desktop.svg" alt="">
            <p>
                I started programming for fun and out of interest and still enjoy programming. I quickly realized that I
                really enjoy it and that I would like to work in this field professionally in the future.
            </p>
        </div>

        <div class="about-me-description-bottom-container-top">
            <img src="assets/icons/puzzle desktop.svg" alt="">
            <p>
                This deep insight into programming made me realize that I had made exactly the right decision. I love
                developing web applications and facing new challenges. I believe that is the big thing in future!
            </p>
        </div>

    </div>
</div>