<div class="portfolio-section">
    <div class="pseudo" id="portfolio-section"></div>


    <div class="headline-container">
        <img src="assets/portfolio-section-icons/left.svg" alt="">
        <h2 class="headline">Portfolio</h2>
        <img style="margin-right: -20px;" src="assets/portfolio-section-icons/right.svg" alt="">
    </div>

    <div class="headline-container-desktop">
        <img src="assets/portfolio-section-icons/left-desktop.png" alt="">
        <h2 class="headline">Portfolio</h2>
        <img class="line-desktop-right" src="assets/portfolio-section-icons/right-desktop.png" alt="">
    </div>

    <p class="text-center">
        This page is a sample of my work - please feel free to try them out.
    </p>

    <div class="project-desktop-left first-right">
        <div class="img-pos">
            <img class="img-desktop" src="assets/portfolio-section-icons/join-desktop.png" alt="">
            <img class="img-mobile" src="assets/portfolio-section-icons/join-new.png" alt="">
        </div>
        <div class="text-center">
            <h3 class="headline-project">Join</h3>
            <p class="subheadline-project">JavaScript | HTML | CSS </p>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign
                users and categories. </p>
            <div class="buttons">
                <a class="live-test" href="https://tom-pannier.de/Project/JOIN/index.html"
                    target="_blank">Live test</a>
                <a class="github" href="https://github.com/TomtePain/Join-Webapplikation-Kanban-Like"
                    target="_blank">Github</a>
            </div>
        </div>
    </div>

    <div class="project-desktop-right first-left">
        <div class="img-pos">
            <img class="img-desktop" src="assets/portfolio-section-icons/pollo-desktop.png" alt="">
            <img class="img-mobile" src="assets/portfolio-section-icons/polloloco.png" alt="">
        </div>
        <div class="text-center">
            <h3 class="headline-project">El Pollo Loco</h3>
            <p class="subheadline-project">JavaScript | HTML | CSS</p>
            <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and salsa
                bottles to fight against the killer chicken. </p>
            <div class="buttons">
                <a class="live-test" href="https://tom-pannier.de/Project/EL-Pollo-Loco/index.html"
                    target="_blank">Live test</a>
                <a class="github" href="https://github.com/TomtePain/EL-Pollo-Loco" target="_blank">Github</a>
            </div>
        </div>
    </div>

    <div class="project-desktop-left second-right">
        <div class="img-pos">
            <img class="img-desktop" src="assets/portfolio-section-icons/DaBubble.png" alt="">
            <img class="img-mobile" src="assets/portfolio-section-icons/notebook-dabubble.png" alt="">
        </div>
        <div class="text-center">
            <h3 class="headline-project">DA-Bubble - Chatmessenger</h3>
            <p class="subheadline-project">Angular | TypeScript | HTML | SCSS | Firebase | Material Design | Scrum</p>
            <p>Discover "DA-Bubble," a real-time chat app seamlessly connected to Firebase, enhancing communication. 
                Our Angular Chatmessenger, a collaborative project by a two-person team passionate about modern web development, 
                offers a user-friendly experience based on the Angular framework.</p>
            <div class="buttons">
                <a class="live-test" href="https://da-bubble.codiy.de/auth/login" target="_blank">Live test</a>
                <a class="github" href="https://github.com/TomtePain/DaBubble-Chat-Messenger"
                    target="_blank">Github</a>
            </div>
        </div>
    </div>

    <div class="project-desktop-right second-left">
        <div class="img-pos">
            <img class="img-desktop" src="assets/portfolio-section-icons/portfolio-desktop.png" alt="">
            <img class="img-mobile" src="assets/portfolio-section-icons/notebook-portfolio.png" alt="">
        </div>
        <div class="text-center">
            <h3 class="headline-project">Portfolio Site</h3>
            <p class="subheadline-project">Angular | HTML | SCSS </p>
            <p>This is my Portfolio.</p>
            <div class="buttons">
                <a class="live-test" href="#" target="_blank">Live test</a>
                <a class="github" href="https://github.com/TomtePain/Portfolio/tree/main"
                    target="_blank">Github</a>
            </div>
        </div>
    </div>

    <img class="portfolio-drop" src="assets/portfolio-section-icons/Vector 4.svg" alt="">



</div>