<div class="skills-container">
    <div class="skills-headline">
        <h2>My skills</h2>
        <img src="assets/icons/skillsvektor.svg" alt="">
    </div>
    <p class="text">
        I have grown my frontend developments skills that have allowed me to create different real projects.
    </p>

    <div class="skill-line-top">
        <img src="assets/skill-icons/angular.svg" alt="">
        <img src="assets/skill-icons/ts.svg" alt="">
        <img src="assets/skill-icons/js.svg" alt="">
    </div>

    <div>
        <img src="assets/skill-icons/angular.svg" alt="">
        <img src="assets/skill-icons/angular.svg" alt="">
        <img src="assets/skill-icons/angular.svg" alt="">
        <img src="assets/skill-icons/angular.svg" alt="">
    </div>
</div>