.skills-container {
    padding-left: 5%;
    padding-right: 5%;

    color: white;
    font-family: 'poppins';

    .skills-headline {
        display: flex;
        justify-content: flex-end;

        h2 {
            font-size: 45px;
            line-height: 54px;
            margin-bottom: 25px;
        }

        img {
            position: relative;
            top: 8px;
            right: -18px;
        }
    }
}

.text {
    text-align: center;
}

.skill-line-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}