<div class="skills-container" id="skills-container">
    <div class="pseudo" id="skills-section" style="position: relative; top: -120px;"></div>

    <div class="skills-desktop">
        <div class="container-right">
            <div class="skills-headline">
                <h2>My skills</h2>
                <img class="skill-vector-mobile" src="assets/icons/skillsvektor.svg" alt="">
                <img class="skill-vector-desktop" src="assets/skill-icons/desktop/skills-vector.png" alt="">
            </div>
            <p class="text">
                I have grown my frontend developments skills that have allowed me to create different real projects.
            </p>

            <div class="btn-container-desktop">
                <a href="#contact-section"><button>Get in touch</button></a>
            </div>
        </div>

        <div class="container-left">
            <div class="skill-icons-container">
                <div class="skill-line-top">
                    <img src="assets/skill-icons/angular.svg" alt="">
                    <img src="assets/skill-icons/html.svg" alt="">
                    <img src="assets/skill-icons/css.svg" alt="">
                </div>
                <div class="skill-line-top">
                    <img src="assets/skill-icons/ts.svg" alt="">
                    <img src="assets/skill-icons/fire.svg" alt="">
                    <img src="assets/skill-icons/scrum.svg" alt="">
                </div>
                <div class="skill-line-top">
                    <img src="assets/skill-icons/js.svg" alt="">
                    <img src="assets/skill-icons/git.svg" alt="">
                    <img src="assets/skill-icons/rest.svg" alt="">
                </div>
            </div>

            <div class="single-skill-icon">
                <img src="assets/skill-icons/material.svg" alt="">
            </div>


            <div class="skill-icons-desktop">
                <div class="icon-lines-desktop">
                    <img src="assets/skill-icons/desktop/angular-desktop.png" alt="">
                    <img src="assets/skill-icons/desktop/ts-desktop.png" alt="">
                    <img src="assets/skill-icons/desktop/js-desktop.png" alt="">
                    <img src="assets/skill-icons/desktop/html-desktop.png" alt="">
                </div>
                <div class="icon-lines-desktop">
                    <img src="assets/skill-icons/desktop/fire-desktop.png" alt="">
                    <img src="assets/skill-icons/desktop/git-desktop.png" alt="">
                    <img src="assets/skill-icons/desktop/css-desktop.png" alt="">
                    <img src="assets/skill-icons/desktop/api-desktop.png" alt="">
                </div>
                <div class="icon-lines-desktop">
                    <img src="assets/skill-icons/desktop/scrum-desktop.png" alt="">
                    <img src="assets/skill-icons/desktop/mat-desktop.png" alt="">
                    <div class="pseudo-block"></div>
                    <div class="pseudo-block"></div>
                </div>
                
            </div>


        </div>


        
    </div>

    <img class="skills-bubble" src="assets/img/shadowskillbubble.svg" alt="">

    <div class="btn-container">
        <a href="#contact-section"><button>Get in touch</button></a>
    </div>


</div>