<div class="skills-container">
    <div class="skills-headline">
        <h2>My skills</h2>
        <img src="assets/icons/skillsvektor.svg" alt="">
    </div>
    <p class="text">
        I have grown my frontend developments skills that have allowed me to create different real projects.
    </p>

    <div class="skill-icons-container">
        <div class="skill-line-top">
            <img src="assets/skill-icons/angular.svg" alt="">
            <img src="assets/skill-icons/html.svg" alt="">
            <img src="assets/skill-icons/css.svg" alt="">
        </div>
        <div class="skill-line-top">
            <img src="assets/skill-icons/ts.svg" alt="">
            <img src="assets/skill-icons/fire.svg" alt="">
            <img src="assets/skill-icons/scrum.svg" alt="">
        </div>
        <div class="skill-line-top">
            <img src="assets/skill-icons/js.svg" alt="">
            <img src="assets/skill-icons/git.svg" alt="">
            <img src="assets/skill-icons/rest.svg" alt="">
        </div>
    </div>

    <div style="margin-top: 30px;">
        <img src="assets/skill-icons/material.svg" alt="">
    </div>

    <img class="skills-bubble" src="assets/img/shadowskillbubble.svg" alt="">

    <div class="btn-container">
        <button>Get in touch</button>
    </div>

   
</div>