<div class="contact-section" id="contact-section">

    <img class="greenshadow" src="assets/contact-section/greenshadow.png" alt="">
    <div class="headline-container">
        <img src="assets/contact-section/line.png" alt="">
        <h2 class="headline">Contact</h2>
    </div>

    <h3>Got a problem to solve?</h3>

    <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
        projects with my work. <br>
        <br>
        Need a Frontend developer? <br><b>Contact me!</b>
    </p>

    <form action="" class="form-container">
        <input type="text" placeholder="Your name">
        <input type="email" placeholder="Your email">
        <input id="msg" type="text" placeholder="Your message">
        <button>Send message :)</button>
    </form>

    <img class="bottomdrop" src="assets/contact-section/bottomdrop.png" alt="">





</div>