<div>
    <div class="firstcontainer-mobile">
        <img class="profil" id="profil" src="assets/profil/white-profil.png" alt="">
    </div>

    <div class="backdrop-image">
        <img src="assets/img/shadowsbackdrop.svg" alt="">
    </div>

    <div class="firstcontainer-mobile-name">
        <p class="iam">I am</p>
        <div>
            <p class="name">Tom Pannier</p>
            <p class="name-sec">Frontend Developer</p>
        </div>
    </div>
    <div class="first-section-btn">
        <a href="#contact-section"><button>Let's talk!</button></a>
    </div>
    <div class="link-icons">
        <img class="vect1" src="assets/icons/Vector 1.svg" alt="">
        <a href="https://github.com/TomtePain" target="_blank"><img src="assets/icons/Github button.svg" alt=""></a>
        <a href="mailto:tom.pannier@gmx.de"><img src="assets/icons/Email button.svg" alt=""></a>
        <a href="https://linkedin.com/in/tom-pannier-b14361242" target="_blank"><img src="assets/icons/Linkedin button.svg" alt=""></a>
        <a class="xing" href="https://xing.com/profile/Tom_Pannier" target="_blank"><img src="assets/icons/xing.ico" alt="" style="width: 30px;"></a>
        <a class="mailtext" href="#contact-section">tom.pannier@gmx.de</a>
    </div>
    <img class="second-drop" src="assets/img/Purple shadow.svg" alt="">
</div>