<div class="portfolio-section">
    <div class="pseudo" id="portfolio-section" style="position: relative; top: -120px;"></div>


    <div class="headline-container">
        <img src="assets/portfolio-section-icons/left.svg" alt="">
        <h2 class="headline">Portfolio</h2>
        <img style="margin-right: -20px;" src="assets/portfolio-section-icons/right.svg" alt="">
    </div>

    <p class="text-center">
        This page is a sample of my work - please feel free to try them out.
    </p>

    <div class="img-pos">
        <img src="assets/portfolio-section-icons/join-new.png" alt="">
    </div>
    <div class="text-center">
        <h3 class="headline-project">Join</h3>
        <p class="subheadline-project">JavaScript | HTML | CSS </p>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign
            users and categories. </p>
        <div class="buttons">
            <a class="live-test" href="">Live test</a>
            <a class="github" href="">Github</a>
        </div>
    </div>

    <div class="img-pos">
        <img src="assets/portfolio-section-icons/polloloco.png" alt="">
    </div>
    <div class="text-center">
        <h3 class="headline-project">El Pollo Loco</h3>
        <p class="subheadline-project">JavaScript | HTML | CSS</p>
        <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and salsa
            bottles to fight against the killer chicken. </p>
        <div class="buttons">
            <a class="live-test" href="">Live test</a>
            <a class="github" href="">Github</a>
        </div>
        
    </div>

    <img class="portfolio-drop" src="assets/portfolio-section-icons/Vector 4.svg" alt="">

    

</div>