.headline-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 100px
}

.pseudo {
    position: relative;
    top: -120px;
}

.headline-container-desktop {
    display: none;
}

.headline {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.portfolio-section {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    color: white;
    font-family: 'poppins';
}

.project-desktop-left, .project-desktop-right {
    display: unset;
}

.img-pos {
    display: flex;
    justify-content: center;
}

.img-desktop {
    display: none;
}

.img-mobile {
    display: block;
}

.text-center {
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.headline-project {
    color: rgba(75, 71, 255, 1);
    font-size: 32px;
}

.subheadline-project {
    color: rgba(0, 190, 232, 1);
    font-size: 23px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 58px;
    margin-bottom: 90px;
    text-align: center;
}

.live-test,
.github {
    background-color: rgba(75, 71, 255, 1);
    text-decoration: none;
    color: white;
    width: 152px;
    padding: 15px 15px; // padding: 15px 30px;
    font-size: 18px;
    line-height: 27.6px;
    border-radius: 10px;

    &:hover {
        background-color: rgba(0, 190, 232, 1);
    }
}

.github {
    background-color: transparent;
    border: 1px solid rgba(0, 190, 232, 1);
}

.portfolio-drop {
    position: absolute;
    top: 3230px;
    right: 0;
    z-index: -1;
}

@media (min-width: 900px) {
    .headline-container {
        display: none;
    }

    .text-center {
        margin-bottom: 75px;
    }

    .pseudo {
        top: -300px;
    }

    .headline-container-desktop {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        margin-top: -90px;


        h2 {
            font-size: 90px;
            margin-left: 35px;
            margin-right: 35px;
        }
    }

    .line-desktop-right {
        height: 4px;
        width: 260px;
    }

    .project-desktop-left, .project-desktop-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 100px;

        .img-pos {
            width: 55%;
        }
        
        .text-center {
            width: 45%;
            text-align: start;
            margin-bottom: 0;
            
            .buttons {
                margin-bottom: 0;
                justify-content: flex-start;
                gap: 35px;
            }
        }
    }

    .img-desktop {
        display: block;
    }
    .img-mobile {
        display: none;
    }

    .project-desktop-right {
        flex-direction: row-reverse;

        .text-center {
            text-align: end;

            .buttons {
                justify-content: flex-end;
            }
        }
    }
}

@media (min-width: 1150px) {
    .line-desktop-right {
        height: 4px;
        width: 350px;
    }
}

@media (min-width: 1350px) {
    .line-desktop-right {
        height: 4px;
        width: 450px;
    }

    .project-desktop-left {
        .img-pos {
            justify-content: flex-end;
        }
    }

    .project-desktop-right {
        .img-pos {
            justify-content: flex-start;
        }
    }
    
}

@media (min-width: 1800px) {
    .line-desktop-right {
        height: 4px;
        width: 720px;
    }
}

.slide-in-left {
    animation: slideInLeft 2s ease-in-out;
}

.slide-in-right {
    animation: slideInRight 2s ease-in-out;
}


@keyframes slideInLeft {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}