<div class="footer-container">
    <div class="name">
        <a routerLink="/">TOM</a>
    </div>
    <p>
        © Tom Pannier 2023
    </p>
    <div class="footer-icons">
        <a href="https://github.com/TomtePain" target="_blank"><img src="assets/icons/Github button.svg" alt=""></a>
        <a href="mailto:tom.pannier@gmx.de"><img src="assets/icons/Email button.svg" alt=""></a>
        <a href="https://linkedin.com/in/tom-pannier-b14361242" target="_blank"><img src="assets/icons/Linkedin button.svg" alt=""></a>
    </div>
    <a routerLink="/imprint">Impressum</a>
</div>