.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-family: "poppins";
    background-color: rgba(20, 29, 47, 1);
    z-index: 3;
    width: 90%;
    height: 360px;
    border-top: 4px solid rgba(0, 190, 232, 1);
    margin-top: 30px;

    .logo {
        height: 80px;
        cursor: pointer;
    }

    p {
        font-size: 23px;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        margin-top: 33px;
    }
}

.footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
}

@media (min-width: 900px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;

        p {
            margin: 0;
        }

        a {
            margin-top: 0;
        }

        .imprint {
            position: absolute;
            margin-top: 140px;
        }
    }
}