<div class='imprint'>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Tom Pannier <br>
        Karl-Marx-Str. 9<br>
        16761 Hennigsdorf <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        Tom Pannier<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        Telefon: <a href="tel: +491713235977">0171-3235977</a><br>
        E-Mail: <a href='mailto:tom.pannier@gmx.de'>tom.pannier@gmx.de</a></p><br>
        Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a
        href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und
        Familienrecht</a>
</div>